__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
eggs/
*.egg-info/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
coverage.*
.cache
prices.db
venv/
env/
ENV/
.venv/
.ipynb_checkpoints
.vscode/
.idea/
.DS_Store
Thumbs.db
